In [2]:
import pandas as pd
import datetime

In [3]:
df=pd.read_csv("sales_pro.csv")

In [4]:
df.head()

,sales_id,employee_id,customer_id,product_id,quantity,sales_date,transaction_id,week_start,month,year,total_price
0,11034,226,90412,357,3,2023-01-01 00:00:10,71df1ca8-bf62-4f5a-a596-4181451918ad,2022-12-26,1,2023,2.7
1,4487,63,66963,163,5,2023-01-01 00:00:12,a9ef5b45-e547-422c-b304-72b2a32ad2cf,2022-12-26,1,2023,101.5
2,7105,54,4612,241,2,2023-01-01 00:00:13,4a7ad5f9-da1d-4417-88cf-09252fab3612,2022-12-26,1,2023,54.4
3,5861,40,91195,441,10,2023-01-01 00:00:15,13db6d87-aea1-4048-8b07-522d9c2c1573,2022-12-26,1,2023,28.0
4,6705,227,60153,108,2,2023-01-01 00:00:18,228a0f8a-783b-486f-8f61-b5f78faf9ab2,2022-12-26,1,2023,45.2

In [5]:
df.tail()

,sales_id,employee_id,customer_id,product_id,quantity,sales_date,transaction_id,week_start,month,year,total_price
12013931,12012931,38,45667,359,2,2025-12-13 23:59:27,c46df962-da38-45d8-9584-6c3bda298f21,2025-12-08,12,2025,61.8
12013932,12006271,128,92685,438,1,2025-12-13 23:59:41,7e87391b-6cbf-49fb-82bb-4e3a680403a8,2025-12-08,12,2025,22.0
12013933,11998884,22,69964,72,6,2025-12-13 23:59:44,162bf6d9-96e6-4145-8a48-d90b594d129d,2025-12-08,12,2025,38.4
12013934,12004438,136,48346,375,4,2025-12-13 23:59:46,7b38a010-c021-472c-8388-294ebd5a2b65,2025-12-08,12,2025,8.4
12013935,12011347,107,84357,152,2,2025-12-13 23:59:48,6beb8a05-2f7f-4406-832f-c380d8ab624a,2025-12-08,12,2025,12.4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12013936 entries, 0 to 12013935
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   sales_id        int64
 1   employee_id     int64
 2   customer_id     int64
 3   product_id      int64
 4   quantity        int64
 5   sales_date      object
 6   transaction_id  object
 7   week_start      object
 8   month           int64
 9   year            int64
 10  total_price     float64
dtypes: float64(1), int64(7), object(3)
memory usage: 1008.2+ MB

In [7]:
df.isnull().sum()

sales_id          0
employee_id       0
customer_id       0
product_id        0
quantity          0
sales_date        0
transaction_id    0
week_start        0
month             0
year              0
total_price       0
dtype: int64

In [34]:
df.describe().apply(lambda s: s.apply('{:.2f}'.format))

,sales_id,employee_id,customer_id,product_id,quantity,sales_date,week_start,month,year,total_price
count,11873039.00,11873039.00,11873039.00,11873039.00,11873039.00,11873039.00,11873039.00,11873039.00,11873039.00,11873039.00
mean,5936520.00,125.50,49366.67,229.77,3.28,.2f,.2f,6.38,2023.97,35.76
min,1.00,1.00,1.00,1.00,1.00,.2f,.2f,1.00,2023.00,0.30
25%,2968260.50,63.00,24668.00,121.00,2.00,.2f,.2f,3.00,2023.00,18.80
50%,5936520.00,125.00,49367.00,234.00,3.00,.2f,.2f,6.00,2024.00,30.40
75%,8904779.50,188.00,74066.00,339.00,5.00,.2f,.2f,9.00,2025.00,50.20
max,11873039.00,250.00,98759.00,452.00,10.00,.2f,.2f,12.00,2025.00,107.50
std,3427451.28,72.17,28515.02,128.18,2.30,nan,nan,3.37,0.81,22.78

In [9]:
df.shape

(12013936, 11)

In [10]:
duplicates = df[df.duplicated(subset=['sales_id'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [sales_id, employee_id, customer_id, product_id, quantity, sales_date, transaction_id, week_start, month, year, total_price]
Index: []

In [11]:
negative_qty = df[df['quantity'] < 0]
print(negative_qty)

Empty DataFrame
Columns: [sales_id, employee_id, customer_id, product_id, quantity, sales_date, transaction_id, week_start, month, year, total_price]
Index: []

In [12]:
negative_qty = df[df['total_price'] < 0]
print(negative_qty)

Empty DataFrame
Columns: [sales_id, employee_id, customer_id, product_id, quantity, sales_date, transaction_id, week_start, month, year, total_price]
Index: []

In [ ]:
current_year=2025
current_month=11

future_dates_filter = (df['year'] > current_year) | ((df['year'] == current_year) & (df['month'] > current_month))
print(f"Number of future sales records found: {df[future_dates_filter].shape[0]}")

df=df[~future_dates_filter]
df.shape[0]

Number of future sales records found: 0

11873039

In [ ]:
invalid_month_filter = (df['month'] < 1) | (df['month'] > 12)
print(f"\nNumber of invalid month entries found: {df[invalid_month_filter].shape[0]}")

Number of invalid month entries found: 0

In [32]:
df['sales_date']=pd.to_datetime(df['sales_date'],errors='coerce')
df['week_start']=pd.to_datetime(df['week_start'],errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11873039 entries, 0 to 11873038
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   sales_id        int64
 1   employee_id     int64
 2   customer_id     int64
 3   product_id      int64
 4   quantity        int64
 5   sales_date      datetime64[ns]
 6   transaction_id  object
 7   week_start      datetime64[ns]
 8   month           int64
 9   year            int64
 10  total_price     float64
dtypes: datetime64[ns](2), float64(1), int64(7), object(1)
memory usage: 1.1+ GB

In [43]:
unique_ids = sorted(df['employee_id'].unique())
print(unique_ids)

[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14), np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19), np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24), np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29), np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34), np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39), np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44), np.int64(45), np.int64(46), np.int64(47), np.int64(48), np.int64(49), np.int64(50), np.int64(51), np.int64(52), np.int64(53), np.int64(54), np.int64(55), np.int64(56), np.int64(57), np.int64(58), np.int64(59), np.int64(60), np.int64(61), np.int64(62), np.int64(63), np.int64(64), np.int64(65), np.int64(66), np.int64(67), np.int64(68), np.int64(69), np.int64(70), np.int64(71), np.int64(72), np.int64(73), np.int64(74), np.int64(75), np.int64(76), np.int64(77), np.int64(78), np.int64(79), np.int64(80), np.int64(81), np.int64(82), np.int64(83), np.int64(84), np.int64(85), np.int64(86), np.int64(87), np.int64(88), np.int64(89), np.int64(90), np.int64(91), np.int64(92), np.int64(93), np.int64(94), np.int64(95), np.int64(96), np.int64(97), np.int64(98), np.int64(99), np.int64(100), np.int64(101), np.int64(102), np.int64(103), np.int64(104), np.int64(105), np.int64(106), np.int64(107), np.int64(108), np.int64(109), np.int64(110), np.int64(111), np.int64(112), np.int64(113), np.int64(114), np.int64(115), np.int64(116), np.int64(117), np.int64(118), np.int64(119), np.int64(120), np.int64(121), np.int64(122), np.int64(123), np.int64(124), np.int64(125), np.int64(126), np.int64(127), np.int64(128), np.int64(129), np.int64(130), np.int64(131), np.int64(132), np.int64(133), np.int64(134), np.int64(135), np.int64(136), np.int64(137), np.int64(138), np.int64(139), np.int64(140), np.int64(141), np.int64(142), np.int64(143), np.int64(144), np.int64(145), np.int64(146), np.int64(147), np.int64(148), np.int64(149), np.int64(150), np.int64(151), np.int64(152), np.int64(153), np.int64(154), np.int64(155), np.int64(156), np.int64(157), np.int64(158), np.int64(159), np.int64(160), np.int64(161), np.int64(162), np.int64(163), np.int64(164), np.int64(165), np.int64(166), np.int64(167), np.int64(168), np.int64(169), np.int64(170), np.int64(171), np.int64(172), np.int64(173), np.int64(174), np.int64(175), np.int64(176), np.int64(177), np.int64(178), np.int64(179), np.int64(180), np.int64(181), np.int64(182), np.int64(183), np.int64(184), np.int64(185), np.int64(186), np.int64(187), np.int64(188), np.int64(189), np.int64(190), np.int64(191), np.int64(192), np.int64(193), np.int64(194), np.int64(195), np.int64(196), np.int64(197), np.int64(198), np.int64(199), np.int64(200), np.int64(201), np.int64(202), np.int64(203), np.int64(204), np.int64(205), np.int64(206), np.int64(207), np.int64(208), np.int64(209), np.int64(210), np.int64(211), np.int64(212), np.int64(213), np.int64(214), np.int64(215), np.int64(216), np.int64(217), np.int64(218), np.int64(219), np.int64(220), np.int64(221), np.int64(222), np.int64(223), np.int64(224), np.int64(225), np.int64(226), np.int64(227), np.int64(228), np.int64(229), np.int64(230), np.int64(231), np.int64(232), np.int64(233), np.int64(234), np.int64(235), np.int64(236), np.int64(237), np.int64(238), np.int64(239), np.int64(240), np.int64(241), np.int64(242), np.int64(243), np.int64(244), np.int64(245), np.int64(246), np.int64(247), np.int64(248), np.int64(249), np.int64(250)]